

.black-nav{
	/*
	 CSS :root 声明全局变量,var()函数 (主题切换)
		https://blog.csdn.net/qq_41560520/article/details/117918349?spm=1001.2101.3001.6650.1&utm_medium=distribute.pc_relevant.none-task-blog-2%7Edefault%7ECTRLIST%7Edefault-1.no_search_link&depth_1-utm_source=distribute.pc_relevant.none-task-blog-2%7Edefault%7ECTRLIST%7Edefault-1.no_search_link
	 */
	// 导航栏
	$menuBg : black;//背景色
	$color:#bfcbd9;//默认字体颜色
	$primaryColor:#009688;
	//侧边栏
	.el-aside{
		font-size: 14px;
		font-weight: 500 ;
		&{
			*{
				font-size: inherit ;
				font-weight:inherit ;
			}
		}
	}
	//main主体
	.el-main{
		$bgc : white;//rgb(248,248,248);
		font-size: 14px;
		background-color: $bgc;
		.linkFixedPage{
			background-color: $bgc;
		}
		#page.page.show{
			background-color: $bgc;
		}
		$shadow:#ccc;
		#page.page {
			box-shadow: $shadow 0px 0px 10px;
		}
		.table-page{
			box-shadow: $shadow 0px 0px 10px;
		}
		.linkFixedPage{
			.left{
				box-shadow: $shadow 0px 0px 10px;
			}
			.right{
				box-shadow: $shadow 0px 0px 10px;
			}
		}
		
	}
    
	
	.sidebar-container {
	    background-color: $menuBg  !important;//侧边栏背景色
	}
	/* logo标题 */
	.sidebar-logo-container{
		background-color:black;
	}
	.el-menu-item{//权重最低的 子叶选项         会被 //非一级的某行菜单栏 样式覆盖
		font-weight: 500;//防止折叠的时候 字体是700
		background-color: $menuBg  !important;//背景颜色
		color:$color ;        // 默认字体颜色

		&:hover {
		  color: $primaryColor !important;    //字体颜色
	      i{
	      		color: $primaryColor !important;    //字体颜色 
	      }
		}
	}
	.el-submenu__title{//权重最低的 母目录
		background-color: $menuBg  !important;  //背景颜色
		color:$color;       // 默认字体颜色

		&:hover {
		  color: $color !important;    //字体颜色
		  i{
		  		color: $color !important;    //字体颜色 
		  }
		}
	}
	
	
	
	.el-submenu .el-menu-item {//非一级的某行菜单栏
	    background-color: rgb(52, 63, 74) !important; //背景色

	    &:hover {
		  color: $primaryColor !important;    //字体颜色
		  i{
			 color: $primaryColor !important;    //字体颜色 
		  }
	    }
	}
	
	.el-menu li.is-active.el-menu-item{// 某行激活的菜单栏            多选择器是为了权重
		color: white !important;    // 字体激活颜色
		background-color: $primaryColor !important;   // 背景激活颜色
		&:hover {
		  i{
		  		color: white !important;    //字体颜色 
		  }
		}
	}
	.is-active > .el-submenu__title {//当点击了子菜单时的父菜单
	  color: $color !important; //的文本颜色
	}
	
	/* tagView */
	.tags-view-container{
		//右键菜单
		.contextmenu {
			li {
			  &:hover {
			        background-color: #ecf5ff;
			        color: $primaryColor !important;
			  }
			}
		}
		.tags-view-item{
			display: inline-block;
			position: relative;
			z-index: 0;
			cursor: pointer;
			height: $tags-view-item; //改item高度 就修改这个 3
			line-height: $tags-view-item; //改item高度 就修改这个 4
			border: 1px solid #d8dce5;
			color: #495060;
			background: #fff;
			padding: 0 8px;
			font-size: 12px;
			margin-left: 5px;
			margin-top: 4px;
			border-radius: 2.5px;
			&:first-of-type {
			  margin-left: 15px;
			}
			&:last-of-type {
			  margin-right: 15px;
			}
			&.active {
			  background-color: $primaryColor !important;
			  color: white !important; 
			  border-color: white !important; 
			  // padding-left: 20px;
			}
			&::before {
				content: "";
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				background: $primaryColor;
				z-index: -1;
				opacity: 0;
				transform: scale3d(0.7, 1, 1);
				transition: transform 0.3s, opacity 0.3s;
				transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
			  }
			 &:hover {
			 color: #ffffff;
			 transition: all 0.3s cubic-bezier(0.2, 1, 0.3, 1);
			 border-color: transparent;
			 &::before {
			   opacity: 1;
			   transform: translate3d(0, 0, 0);
			   border-radius: 2px;
			 }
		   }
			// 关闭按钮
			.el-icon-close {
				// position: absolute;
				// right: 5px;
				// top: -50%;
				// transform:translateY(100%) ;
			  width: 16px;
			  height: 16px;
			  vertical-align: 2px;
			  border-radius: 50%;
			  text-align: center;
			  transition: all 0.3s; //cubic-bezier(0.645, 0.045, 0.355, 1)
			  transform-origin: 100% 50%;
			  &:before {
			    transform: scale(0.6);
			    display: inline-block;
			    vertical-align: -3px;
			  }
			  &:hover {
			    background-color: #b4bccc;//#b4bccc;
			    color: white;
			  }
			}
			// 单个tag的文字
			.titleText {
			  transition: padding 0.3s cubic-bezier(0.645, 0.045, 0.355, 1) !important;//.active 增加过渡
			  padding-right: 10px;
			  padding-left: 10px;
			}
		}
	}
	/* head-top */
	.head-top{
		// .el-breadcrumb{/* 面包屑 */
		// 	color: $primaryColor !important;
		// 	*{
		// 		color: inherit !important;
		// 	}
		// 	.el-breadcrumb__item:hover>.el-breadcrumb__inner>a{
		// 		color: $primaryColor !important;
		// 	}
		// 	/* 最后一个面包屑 */
		// 	.el-breadcrumb__item:last-child>.el-breadcrumb__inner>a{
		// 		color: $primaryColor  !important;
		// 	}
		// 	.el-breadcrumb__item:last-child:hover>.el-breadcrumb__inner>a{
		// 		color: $primaryColor  !important;
		// 	}
		// }
		// .el-dropdown{
		// 	color: $primaryColor !important;
		// 	*{
		// 		color: inherit !important;
		// 	}
		// }
		// 设置按钮
		// .setup{
		// 	color: $primaryColor !important;
		// 	&:hover{
		// 		color: $primaryColor !important;
		// 		background-color: #f6f6f6;
		// 	}
		// }
	}
	/* ********************************************************************************************************
	form组件
	 */
	.self_btn .el-input-group__append {
		background-color: $primaryColor !important;
		border: 1px solid $primaryColor !important;
		border-left: 0 !important;
		color: white !important;
		 &:hover{
			 color: white !important;
		 }
		 .el-button--default:not(.el-button--primary):active,
		 .el-button--default:not(.el-button--primary):focus, 
		 .el-button--default:not(.el-button--primary):hover{
			 &{
							 color: white !important;// 抵消换肤带来的副作用
			 }
		 }
	}
	/* ********************************************************************************************************* 
	element ui*/
	@import "@/scss/layout/style/global/element.scss";
	// .el-tabs__active-bar{
	// 	background-color: $primaryColor ;
	// }
	//  .el-button--primary, 
	//  .el-checkbox__input.is-checked .el-checkbox__inner, 
	//  .el-checkbox__input.is-indeterminate .el-checkbox__inner, 
	//  .el-pagination.is-background .el-pager li:not(.disabled).active, 
	//  .el-radio__input.is-checked .el-radio__inner, 
	//  .el-date-table td.current span,
	//  .available.in-range.start-date span,
	//  .available.in-range.end-date span,
	//  .el-switch.is-checked .el-switch__core {
	//     background: $primaryColor ;
	//     border-color: $primaryColor ;
	// }
	// .el-textarea__inner:focus,
	// .el-input__inner:focus,
	// .el-checkbox__input:hover .el-checkbox__inner, 
	// .el-checkbox__input:visited .el-checkbox__inner, 
	// .el-checkbox__input.is-focus .el-checkbox__inner,
	// .el-select .el-input.is-focus .el-input__inner,
	// .el-select .el-input .el-input__inner:hover,
	// .el-button--default:not(.el-button--primary):active,
	// .el-button--default:not(.el-button--primary):focus, 
	// .el-button--default:not(.el-button--primary):hover,
	// .el-radio__input:hover .el-radio__inner{
	// 	border-color: $primaryColor ;
	// }
	//  .el-select-dropdown__item.selected,
	//  .el-select-dropdown.is-multiple .el-select-dropdown__item.selected,
	//  .el-pagination.is-background .el-pager li:not(.disabled):hover,
	//  .el-button--default:not(.el-button--primary):active, 
	//  .el-button--default:not(.el-button--primary):focus, 
	//  .el-button--default:not(.el-button--primary):hover, 
	//  .el-button--text, 
	//  .el-cascader-node.in-active-path, 
	//  .el-cascader-node.is-active, 
	//  .el-cascader-node.is-selectable.in-checked-path, 
	//  .el-checkbox__input.is-checked+.el-checkbox__label, 
	//  .el-dropdown-menu__item:focus, 
	//  .el-dropdown-menu__item:not(.is-disabled):hover, 
	//  .el-loading-spinner .el-loading-text, 
	//  .el-loading-spinner i, 
	//  .el-radio-button__orig-radio:not(:checked)+.el-radio-button__inner:hover, 
	//  .el-radio__input.is-checked+.el-radio__label, 
	//  .el-tabs__item.is-active, 
	//  .el-tabs__item:hover, 
	//  .el-tag:not(.el-tag--danger):not(.el-tag--success):not(.el-tag--info):not(.el-tag--warning), 
	//  .el-upload--picture-card:hover, 
	//  .el-date-table td.today span,
	//  .el-date-table td:hover,
	//  .el-switch__label.el-switch__label--left.is-active,
	//  .el-switch__label.el-switch__label--right.is-active,
	//  .el-upload:focus {
	//     color: $primaryColor ;
	// }
	// .el-loading-spinner .path{
	// 	stroke:$primaryColor ;
	// }
	// // 抵消换肤带来的副作用
	// .el-pagination.is-background .el-pager li.active:hover{
	// 	color:white ;
	// }
}